@using Energy.Service;
@using Radzen.Blazor;

@page "/data"

<h3>Start saving!</h3>

@if (data is not null)
{
    <RadzenDataGrid PageSize="20" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@data" TItem="EnergyData2" ColumnWidth="800px">
        <Columns>
            <RadzenDataGridColumn TItem="EnergyData2" Property="TimeStamp" Title="Timestamp" Width="70px" />
            <RadzenDataGridColumn TItem="EnergyData2" Property="RenewableShare" Title="Data" Width="120px" />
        </Columns>
    </RadzenDataGrid>
    <br />

    <div class="rz-p-sm-12 rz-text-align-center">
        <RadzenDropDown Data="@(Enum.GetValues(typeof(Appliance)).Cast<Enum>())" @bind-Value=@appliance AllowClear=true Placeholder="Select appliance" Style="width: 100%; max-width: 400px;" />
    </div>
}
    
    <RadzenDataGrid PageSize="20" AllowMultiColumnSorting="true" ShowMultiColumnSortingIndex="true" AllowPaging="true" AllowSorting="true" Data="@weather" TItem="WeatherData2" ColumnWidth="800px">
        <Columns>
            <RadzenDataGridColumn TItem="WeatherData2" Property="time" Title="Timestamp" Width="70px" />
            <RadzenDataGridColumn TItem="WeatherData2" Property="temperature" Title="Data" Width="120px" />
        </Columns>
    </RadzenDataGrid>
}