@using Energy.Service;
@using Radzen.Blazor

@page "/howto"

<h3>How to use SmartSaver?</h3>

<RadzenPanel AllowCollapse="true" Class="rz-my-10 rz-mx-auto" Style="width: 900px;" >
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H6" Class="rz-display-flex rz-align-items-center rz-m-0">
            <b>How to use SmartSaver?</b>
        </RadzenText>
    </HeaderTemplate>
    <ChildContent>

        <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 1</strong> Select the suiteable devices you want to charge
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 2</strong> Fill in the required additional information about your device
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 3</strong> Click on predict button to see your specific energy timetabel forecast
    </RadzenText>
        <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 4</strong> Look at the timetabel to see how your devices will be used tomorrow
        </RadzenText>
    </ChildContent>
    
</RadzenPanel>