@using Energy.Service;
@using Radzen.Blazor

@page "/howto"

<h3>How to use SmartSaver?</h3>

<RadzenPanel AllowCollapse="true" Class="rz-my-10 rz-mx-auto" Style="width: 900px;" >
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H6" Class="rz-display-flex rz-align-items-center rz-m-0">
            <b>How to use SmartSaver?</b>
        </RadzenText>
    </HeaderTemplate>
    <ChildContent>
        <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 1</strong> Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
        </RadzenText>
        <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 2</strong> Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
    </RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 3</strong> Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
    </RadzenText>
        <RadzenText TextStyle="TextStyle.Body1">
            <strong>Step 4</strong> Radzen Blazor Components are open source and free for commercial use. You can install them from nuget or build your own copy from source.
        </RadzenText>
    </ChildContent>
    
</RadzenPanel>