@using Energy.Service;
@using Radzen.Blazor

@page "/index"

<h3>What is SmartSaver?</h3>

<RadzenPanel AllowCollapse="true" Class="rz-my-10 rz-mx-auto" Style="width: 900px;">
    <HeaderTemplate>
        <RadzenText TextStyle="TextStyle.H6" Class="rz-display-flex rz-align-items-center rz-m-0">
            <b>Our website shows you in a 24 hour forecast how your devices will be used and charged most efficiently and cost effectively dependig on the energy production of renewable energies such as wind and sun.</b>
        </RadzenText>
    </HeaderTemplate>
</RadzenPanel>